<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bookmarks</key>
	<dict>
		<key>name</key>
		<string>Bookmarks</string>
		<key>url</key>
		<string></string>
		<key>group</key>
		<true/>
		<key>permanent</key>
		<true/>
		<key>content</key>
		<array>
			<dict>
				<key>name</key>
				<string>History</string>
				<key>url</key>
				<string></string>
				<key>group</key>
				<true/>
				<key>permanent</key>
				<true/>
				<key>content</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Google</string>
				<key>url</key>
				<string>http://google.com</string>
				<key>group</key>
				<false/>
				<key>permanent</key>
				<false/>
				<key>content</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Yahoo</string>
				<key>url</key>
				<string>http://yahoo.com</string>
				<key>group</key>
				<false/>
				<key>permanent</key>
				<false/>
				<key>content</key>
				<array/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
