<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bookmarks</key>
	<dict>
		<key>date</key>
		<date>2011-10-18T07:03:08Z</date>
		<key>name</key>
		<string>Bookmarks</string>
		<key>url</key>
		<string></string>
		<key>folder</key>
		<true/>
		<key>permanent</key>
		<true/>
		<key>content</key>
		<array>
			<dict>
				<key>date</key>
				<date>2011-10-18T07:03:08Z</date>
				<key>name</key>
				<string>History</string>
				<key>url</key>
				<string></string>
				<key>folder</key>
				<true/>
				<key>permanent</key>
				<true/>
				<key>content</key>
				<array>
					<dict>
						<key>date</key>
						<date>2011-10-17T19:03:08Z</date>
						<key>name</key>
						<string>Yandex</string>
						<key>url</key>
						<string>http://yandex.ru</string>
						<key>folder</key>
						<false/>
						<key>permanent</key>
						<false/>
						<key>content</key>
						<array/>
					</dict>
					<dict>
						<key>date</key>
						<date>2011-10-16T17:01:48Z</date>
						<key>name</key>
						<string>Google</string>
						<key>url</key>
						<string>http://google.com</string>
						<key>folder</key>
						<false/>
						<key>permanent</key>
						<false/>
						<key>content</key>
						<array/>
					</dict>
					<dict>
						<key>date</key>
						<date>2011-10-16T02:03:08Z</date>
						<key>name</key>
						<string>Yahoo</string>
						<key>url</key>
						<string>http://yahoo.com</string>
						<key>folder</key>
						<false/>
						<key>permanent</key>
						<false/>
						<key>content</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>date</key>
				<date>2011-10-18T07:03:08Z</date>
				<key>name</key>
				<string>Google</string>
				<key>url</key>
				<string>http://google.com</string>
				<key>folder</key>
				<false/>
				<key>permanent</key>
				<false/>
				<key>content</key>
				<array/>
			</dict>
			<dict>
				<key>date</key>
				<date>2011-10-18T07:03:08Z</date>
				<key>name</key>
				<string>Yahoo</string>
				<key>url</key>
				<string>http://yahoo.com</string>
				<key>folder</key>
				<false/>
				<key>permanent</key>
				<false/>
				<key>content</key>
				<array/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
