<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<array>
		<dict>
			<key>Title</key>
			<array>
				<string>Title</string>
				<string>Url</string>
			</array>
			<key>Name</key>
			<string>Item description</string>
		</dict>
		<dict>
			<key>Title</key>
			<array>
				<string>Name</string>
			</array>
			<key>Name</key>
			<string>Folder</string>
		</dict>
	</array>
</dict>
</plist>
